version: "3.9"

services:
  postgres:
    image: postgres:14
    container_name: pg14
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - pg14_data:/var/lib/postgresql/data

volumes:
  pg14_data:
